{% extends "base.html" %}

{% block content %}

    <div class="vpsDetails">
        <nav>
          <ul class="nav nav-pills pull-left">
                <li role="presentation"><a href="/user/create">Create VPS</a>
          </ul>
        </nav>

      <div class="row marketing">
            {%  if deleted == "yes" %}
                <label>Deleted</label>
            {% endif %}

            {% if items %}
            <table width="100%">
                <thead>
                    <tr class="title">
                        <th>Name</th>
                        <th width="80px">Modify</th>
                    </tr>
                </thead>

                <tbody>
                    {% for line in items %}
                    <tr class="list">
                        <td class="list">{{ line.username }}</td>
                        <td class="list" align="center"><a href="/user/modify/{{ line.id }}"><i class="material-icons md-18">edit</i></a>
                        <a href="/user/delete/{{ line.id }}" onclick="return confirm('Are you sure you want to delete this server?')"><i class="material-icons md-18">delete</i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="message">No users have been created</div>
            {% endif %}

    </div>

{% endblock %}