{% extends "base.html" %}

{% block content %}
<a href="/"><i class="material-icons md-18">keyboard_backspace</i></a>

<div class="col-md-5">
    <div class="vpsDetails">

      <div class="row marketing">

            {% if items %}
            <table width="100%">
                <thead>
                    <tr class="title">
                        <th width="150px">Name</th>
                    </tr>
                </thead>

                <tbody>
                    {% for line in items %}
                    <tr class="list">
                        <td class="list"><a href="/user/{{ line.id }}" id="{{ line.id }}">{{ line.username }}</a></td>
                        <td class="list"><a href="/user/modify/{{ line.id }}">Edit</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="message">No machines have been created</div>
            {% endif %}

    </div>

  </div>
{% endblock %}