{% extends "base.html" %}

{% block content %}
<a href="/user/"><i class="material-icons md-18">keyboard_backspace</i></a>

<div class="container">

    <form name="vps" method="POST" class="form-horizontal">
        <div class="form-group row">
            <label for="name" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-7">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input class="form-control" name="name" id="id_item_name" placeholder="Enter User Name"
                       value="{{ item.name }}"
                       required onchange="return validateVPSName()"/>

                <p id="valName"></p></td>
            </div>
            <label for="name" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-7">
                <input class="form-control" name="name" id="id_item_name" placeholder="Enter Email Address"
                       value="{{ item.email }}"
                       required onchange="return validateVPSName()"/>

                <p id="valName"></p></td>
            </div>
            <label for="password" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-7">
                <input class="form-control" type="password" name="password">
            </div>
{#            <label for="again" class="col-sm-4 control-label">Again</label>#}
{#            <div class="col-sm-7">#}
{#                <input class="form-control" type="password" name="again">#}
{#            </div>#}
        </div>

        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-7">
                <input name="item_submit" class="btn btn-lg btn-primary btn-block" id="item_submit" type="submit"
                       value="Update User">
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}