{% extends "base.html" %}

{% block content %}

{% if vpsadded == "yes" %}
        <p class="success">VPS Added Successfully</p>
{% endif %}
        <div class="{{ delstatus }}">{{ message }}</div>

        <nav>
          <ul class="nav nav-pills pull-left">
                <li role="presentation"><a href="/vps/create">Create VPS</a>
          </ul>
        </nav>

        <div class="row marketing">

            {% if items %}
            <table width="100%">
                <thead>
                    <tr class="title">
                        <th width="60px">Image</th>
                        <th width="150px">Name</th>
                        <th>Description</th>
                        <th width="80px" style="text-align:center">Status</th>
                        <th width="80px" style="text-align:center">Modify</th>
                    </tr>
                </thead>

                <tbody>
                    {% for line in items %}
                    <tr class="list">
                        <td class="list">
                            {% if line.image == 1 %}
                            <img src="/static/img/Freebsd-logo.png" height="30px">
                            {% elif line.image == 2 %}
                            <img src="/static/img/ubuntu-logo.png" height="30px">
                            {% elif line.image == 3 %}
                            <img src="/static/img/centos-logo.png" height="30px">
                            {% elif line.image == 4 %}
                            <img src="/static/img/windows-logo.png" height="30px">
                            {% endif %}
                        </td>
                        <td class="list"><a href="/vps/{{ line.id }}" id="{{ line.id }}">{{ line.name }}</a></td>
                        <td class="list">{{ line.description }}</td>
                        <td class="{{ line.status }}" align="center"><a href="/vps/{{ line.id }}" class="{{ line.status }}"><i class="material-icons md-18">power_settings_new</i></a></td>

                        <td class="list" align="center"><a href="/vps/modify/{{ line.id }}"><i class="material-icons md-18">edit</i></a>
                        <a href="/vps/delete/{{ line.id }}" onclick="return confirm('Are you sure you want to delete this server?')"><i class="material-icons md-18">delete</i></a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="message">No machines have been created</div>
            {% endif %}

        </div>

{% endblock %}