{% extends "base.html" %} 
{% block content %}

<div class="controlPanel">
  <a href="/"><i class="material-icons md-18">keyboard_backspace</i></a>

{% for line in row %}

  {% if not line.status == "Installing" %}

  <a href="/vps/modify/{{ line.id }}"><i class="material-icons md-18">edit</i></a>

  {% if line.status == "Stopped" %}
  <a href="/vps/start/{{ line.id }}" onclick="loading();" class="icons"><i class="material-icons">play_arrow</i></a>
  {% else %}
  <a href="/vps/stop/{{ line.id }}" onclick="return confirm('Are you sure you want to stop this server?')"><i class="material-icons">stop</i></a>
  {% endif %}
  <a href="/vps/snapshot/{{ line.id }}"><i class="material-icons">camera_enhance</i></a>
  <button class="console" onclick="myFunction()" alt="Console"><i class="material-icons">video_label</i></button>

  {% endif %}
</div>
      
  <div class="col-md-5">
    <div class="vpsDetails">

      <div class="row"><label class="col-md-5">Name:</label> {{ line.name }}</div>
      <div class="row"><label class="col-md-5">Status:</label> {{ line.status }}</div>
      <div class="row"><label class="col-md-5">Description:</label> {{ line.description }}</div>
      <div class="row"><label class="col-md-5">Image:</label> 
        {% if line.image == 1 %}FreeBSD
        {% elif line.image == 2 %}Ubuntu
        {% elif line.image == 3 %}Centos
        {% elif line.image == 4 %}Windows 10
        {% endif %}
      </div>
      <div class="row"><label class="col-md-5">Memory:</label>
        {% if line.memory == 512 %}512MB{% endif %}
        {% if line.memory == 1024 %}1GB{% endif %}
        {% if line.memory == 2048 %}2GB{% endif %}

        {% for disk in disks %}
      </div>
      <div class="row"><label class="col-md-5">Disk:</label> {{ disk.size }} GB
        {% endfor %}
        {% for dev in device %}
      </div>
      <div class="row"><label class="col-md-5">Network:</label> tap{{ dev.id }} -> bridge{{ dev.3 }}
          {% if dev.4 == "UP" %}
        <a href="/vps/{{ line.id }}/start/interface/{{ dev.id }}/" class="Running"><i class="material-icons">arrow_drop_up</i></a>
          {% else %}
        <a href="/vps/{{ line.id }}/start/interface/{{ dev.id }}/" class="Stopped"><i class="material-icons">arrow_drop_down</i></a>
          {% endif %}
        {% endfor %}
      </div>

      <script>
        function myFunction() {
          window.location.href = "/restartConsole?id={{ line.0 }}";
          
          setTimeout('window.open("{{ rootPath }}:{{ prefport }}{{ line.0 }}/shell", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=800,height=600")', 5);
        }
      </script>
    </div>
   
  </div>

  <div class="col-md-7">

    {% for filename in file %}
    <img src="{{ filename }}.png" class="trafficGraph">
    {% endfor %}
  </div>

{% endfor %}
{% endblock %}